<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Force HTTPS
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Existing rule to rewrite to public directory
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
